{{!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- CSS links here --}}
    <title>HobbySpot</title>
</head>
<body>
    {{{ body }}}
    {{!-- JS links here --}}
</body>
</html> --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobby Spot</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/styles/style.css">
</head>


<body>

    <header>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav nav w-100 d-flex justify-content-around">
            <a class="nav-item nav-link active" href="">Home</a>

            <form class="form-inline">
                <div class="input-group">
                <input class="form-control" type="search" placeholder="Hobbies" aria-label="Search">
                <button class="btn btn-outline-success rounded-right" type="submit">Search</button>
                </div>
            </form>
                
            <a class="nav-item nav-link" href="">Log In</a>
        </div>
    </nav>


    </header>

    <main class="container">
        <div class="row">
            <div class="col">
                <button class="btn btn-outline-warning">Add Discussion</button>
            </div>
        </div>

        <div class="discussions">
            <div class="one-disucssion">
                <div class="row">
                    <div class="col-8 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title discussion-title">Bees SUCK!</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Beeluvr8</h6>
                                <p class="card-text">According to all known laws of aviation, there is no way a bee should be able to fly. It's wings are too small to get its fat little body off the ground. The bee, of course, flies anyway, because bees don't care what humans think is impossible.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="one-disucssion">
                <div class="row">
                    <div class="col-8 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title discussion-title">Bees SUCK!</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Beeluvr8</h6>
                                <p class="card-text">According to all known laws of aviation, there is no way a bee should be able to fly. It's wings are too small to get its fat little body off the ground. The bee, of course, flies anyway, because bees don't care what humans think is impossible.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>


    </footer>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="../public/scripts/index.js"></script>
</body>



</html>